.coderuse-twitter {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;');
}
.coderuse-github-alt {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf113;');
}
.coderuse-slack {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf198;');
}

@media all and (max-width:767px) {
  body {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -.004em
  }
  .header {
    width: 90%;
  }
}
